<% provide(:title, @album.name) %>
<h1><%= best_in_place @album, :name %> </h1>
<h2><%= best_in_place @album, :description %> </h2>

<%= will_paginate @photos, param_name: :photos_page %>

<% content_for :command_navigation do %>

<div class="btn-group">
    <a class="btn btn-primary" href="<%= new_photo_path(album_id: @album) %>">
      <i class="icon-plus-sign icon-white"></i> Add Photo
    </a>
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a href="<%= new_photo_path(album_id: @album) %>">
          <i class="icon-plus-sign"></i> 
          Add Photo
        </a>
      </li>
      <li>
        <a href="<%= edit_album_path(@album) %>">
          <i class="icon-cog"></i> 
          Edit Album
        </a>
      </li>
    </ul>
</div>
<% end %>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <%= render @photos %>
    </ul>
  </div>
</div>

<%= will_paginate @photos, param_name: :photos_page %>
