<% provide(:title, @album.name) %>
<h1><%= best_in_place @album, :name %> </h1>
<h2><%= best_in_place @album, :description %> </h2>

<%= will_paginate @photos, param_name: :photos_page %>

<%= render 'show_navigation', album: @album %>

<div class="row">
  <div class="span12">
    <ul class="thumbnails">
      <%= render @photos %>
    </ul>
  </div>
</div>

<%= will_paginate @photos, param_name: :photos_page %>
