<% provide(:title, @album.name) %>
<div class="row">
  <div class="span12">
<h1><%= best_in_place @album, :name %> </h1>
<h2><%= best_in_place @album, :description %> </h2>
</div>
</div>
<%= will_paginate @photos, param_name: :photos_page %>

<%= render 'show_navigation', album: @album %>

<% if @photos.count == 0 %>
  <h1 class="notice">No Photos</h1>
<% else %>
  <div class="row">
    <div class="span8" id="selectedPhotoContainer">
      <div id="selectedPhoto">
        <%= render @photos.first %>
      </div>
    </div>
    <div class="span4">
      <ul class="thumbnails">
        <%= render partial: 'photos/thumbnails', object: @photos %>
      </ul>
    </div>
  </div>
<% end %>
<%= will_paginate @photos, param_name: :photos_page %>
